/* .body {
    background-image: url(https://img.freepik.com/premium-vector/network-connection-background-abstract-style_23-2148875738.jpg);
} */

.signup-header {
    background-color: black;
    border: 1px solid skyblue;
    width: 520px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.input-field {
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}