.navbar-toggler-icon {
    background-color: rgb(248, 247, 247) !important;
    border-radius: 2px;
}

.hover:hover {
    color: rgb(0, 0, 0);
}



.user-image {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}